<!DOCTYPE html>
<html>
	<head>
		{{ template "head" "Gizlilik - Pill Tracker" }}

		<style>
		  .bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		  }

		  @media (min-width: 768px) {
			.bd-placeholder-img-lg {
			  font-size: 3.5rem;
			}
		  }
		</style>
		
		<link href="/res/terms.css" rel="stylesheet">
	</head>
	<body class="text-center">
		<main class="terms">
			<img class="d-block mx-auto mb-4" src="/res/img/undraw_personal_data_29co.svg" alt="" width="50%" height="auto">
			<h1>Gizlilik Sözleşmesi</h1>
			<h3>Her kullanıcı sisteme <b>kayıt olarak</b></h3>
			<ol>
				<li>Sistemin e-mail, kullanıcı adı, kayıt giriş tarihleri gibi verilerin kaydına,</li>
				<li>Sistemin girilen ilaç verilerini kaydetmesine,</li>
				<li>Kayıtlı verilerin işlenmesine,</li>
				<li>Verilerin kullanıcılarla ve diğer üçüncü partilerle paylaşılmasına</li>
			</ol>
			izin vermiş sayılır.
		</main>
	</body>
</html>
